.game-field {
  background-color: orange;
  min-height: 10vh;
  margin: 1px 1px 1px 1px;
  line-height: 10vh;
}

.target {
  background-color: green;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.miss {
  background-color: red;
}

.none {
	display: none;
}

.blocks {
  display: flex;
}

.block_hit {
  background-color: green;
  width: 15px;
  height: 15px;
  border: none;
  margin-right: 10px;
}

.block_miss {
  background-color: red;
  width: 15px;
  height: 15px;
  border: none;
  margin-right: 10px;
}